@font-face {
  font-family: "PressStart";
  src: url("Fonts/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "Nosifer";
  src: url("Fonts/Nosifer-Regular.ttf");
}
@font-face {
  font-family: "Fontdiner";
  src: url("Fonts/FontdinerSwanky-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  /* margin: auto; */
  background: gray;
  /* background: radial-gradient(#6ce516, #89228d); */
}
.page-title {
  /* color: #660000; */
  color: purple;
  margin-top: 0%;
  font-family: "Fontdiner", serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}
.game-info {
  /* color: #ffbb89; */
  color: #bfd641;
  margin: auto;
  word-spacing: 0.5px;
  font-family: "Fontdiner", serif;
  font-size: 2.5em;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: 50px auto;
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  cursor: pointer;
}
.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  /* -webkit-backface-visibility: hidden; */
  background: linear-gradient(140deg, #eadedb 0%, #bc70a4 50%, #bfd641 75%);
}

.front-face {
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 7em;
  /* background:linear-gradient(#0e7378, #9300a3) */
  background: rgba(201, 197, 183, 0.9);
  font-family: "Nosifer", serif;
  transition: background-color 500ms, font-size 500ms;
  cursor: pointer;
}

.overlay-text-small {
  font-size: 0.3em;
}
.overlay-text-mini {
  font-size: 0.2em;
}

.overlay-text-star {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 100px;
  width: 100px;
  justify-content: center;
  perspective: 1000px;
}

.overlay-text-star.hidden {
  opacity: 0%;
}
.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}
